@use 'shared/styles/variables' as v;
@use '../../styles/shared' as s;
@use 'sass:color';

$spaceFromBottom: 40px;

.wrapper {
    position: fixed;
    bottom: calc(-#{$spaceFromBottom} - 100px);
    left: 50%;
    transform: translateX(-50%);

    animation: appearFromBottom 0.8s 0.5s ease-in-out forwards;

    .cards {
        display: flex;
        justify-content: start;

        margin-bottom: 25px;

        > *:not(:first-child) {
            margin-left: 35px;
        }

        &.disappear {
            animation: disappearAnimation 0.6s ease-in-out forwards;
        }
    }
}

@keyframes appearFromBottom {
    0% {
        bottom: -#{$spaceFromBottom - 100px};
    }

    70% {
        bottom: calc(#{$spaceFromBottom} + 30px);
    }

    90% {
        bottom: calc(#{$spaceFromBottom} - 10px);
    }

    100% {
        bottom: calc(#{$spaceFromBottom});
    }
}

@keyframes disappearAnimation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}
