@use 'shared/styles/variables' as v;
@use '../../styles/shared' as s;
@use 'sass:color';

$cardBgColor: rgba(46, 46, 46, 0.4);
$cardBorderColor: rgba(102, 102, 102, 0.17);

.card {
    background-color: $cardBgColor;
    border-radius: 23px;
    border: 1px solid $cardBorderColor;
    padding: 22px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;

    @include s.transition();

    @for $i from 1 to 3 {
        &:nth-child(#{$i}) {
            animation: appear
                0.6s
                ease-in-out
                calc(0.5s + 0.7s * #{$i})
                forwards;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: color.scale($color: $cardBgColor, $lightness: 10%);
    }

    .cardHeaderIconWrapper {
        display: flex;
        justify-content: space-between;
        align-items: start;

        .cardHeader {
            font-size: 1.25rem;
            font-weight: 500;
            color: v.$primaryWhite;
            max-width: 140px;
        }

        .cardIcon {
            width: 32px;
            height: 32px;
        }
    }

    .cardParagraph {
        font-size: 1rem;
        color: #5c5c5c;
        margin-top: 13px;
        max-width: 174px;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}
